{{#with celebList}}
	
	<h1>Information for {{name}}</h1>
	<p>Occupation: {{occupation}}</p>
	<p>Catch Phrase: {{catchPhrase}}</p>
	{{!-- <a href="/celebrity/edit/{{_id}}">Edit this book ✏️</a>
	 --}}

	 <a href="/celebrity/delete/{{_id}}">Delete this celeb ❌</a>
{{/with}}